<!-- chat_box.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Chat Box</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat_box.css' %}">
</head>
<body>
    <h1>Welcome to the Global Chat Box!</h1>
    <div id="message-container">
        <!-- Chat messages will be displayed here -->
        {% for message in chat_messages %}
        <div>{{ message }}</div>
        {% endfor %}
    </div>
    <form method="post" action="{% url 'chat_box' %}">
        {% csrf_token %}
        <input type="text" name="message" placeholder="Type your message here...">
        <button type="submit">Send</button>
    </form>
    
    <form method="get" action="{% url 'button_click' %}">
        {% csrf_token %}
        <button type="submit">Button Click</button>
    </form>

</body>
</html>
