<!DOCTYPE html>
<html>
<head>
  <title>Add Contacts</title>
</head>
<body>

  <h1>Add Contacts</h1>

  <form action="/submit" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <br><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br><br>

    <input type="submit" value="Add Picture"><br><br><br><br>

    <input type="submit" value="Submit">
  </form>

</body>
</html>
